body{
    background-image: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v412-kul-13-fluidshape_2.jpg?w=1200&h=1200&dpr=1&fit=clip&crop=default&fm=jpg&q=75&vib=3&con=3&usm=15&cs=srgb&bg=F4F4F3&ixlib=js-2.2.1&s=6d630f0b9f8fc6973b484ca8e0f18ead);
    background-size: cover;
}

.neu_box{
    width: 700px;
    height: 375px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 20px;
    backdrop-filter: blur(65px);
    background-color: rgba(224,224,224, 0.276);
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
    border: 0px rgba(255,255,255,0.4) solid;
    border-bottom: 0px rgba(40,40,40,0.35) solid;
    border-right: 0px rgba(40,40,40,0.35) solid;
}