body{
    background-image: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v412-kul-13-fluidshape_2.jpg?w=1200&h=1200&dpr=1&fit=clip&crop=default&fm=jpg&q=75&vib=3&con=3&usm=15&cs=srgb&bg=F4F4F3&ixlib=js-2.2.1&s=6d630f0b9f8fc6973b484ca8e0f18ead)
}

.neu_box{
    margin: 50px;
    background: #E0E0E0;
    border-radius: 10px;

    width: 800px;
    height: 400px;
}